.title-radio-label
{
    padding-right: 20px;
    padding-left: 5px;
}

.companyOfficersContainer
{
    background-color: #6c757d;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    color: #ffff;

}

.titleContainer
{
    display: block !important;
    padding-left: 15px;

}
.titleRadioContainer
{
    padding-left: 15px;
}