<div class="container" [ngClass]="{'companyOfficersContainer': selectedAccountType === 'companyOfficers'}">
  <div class="row">
    <!-- RADIO BUTTONS -->
    <div class="form-group">
        <span *ngFor="let title of titles; let j=index;" [ngClass]="{'titleContainer': selectedAccountType === 'companyOfficers'}">           
            <span>
                <input type="radio" name="{{selectedAccountType}}_radiogroup_{{index}}_j" 
                    [checked]="idx === 0" 
                    [value]="title.id" 
                    (change)="onSelectionChange(title)">
            </span>
            <span class="title-radio-label">{{ title.description }}</span>
        </span>
    </div>

  </div>
  <div class="row">
    <div [ngClass]="selectedAccountType === 'companyOfficers' ? 'col-sm-6' : 'col-sm-4'" class="form-group">
      <label for="{{selectedAccountType}}_firstName_{{index}}">First Name</label>
      <div>
        <input name="{{selectedAccountType}}_firstName_{{index}}" id="{{selectedAccountType}}_firstName_{{index}}" type="text" class="form-control" placeholder="First Name" required ngModel>
      </div>
    </div>
    <div [ngClass]="selectedAccountType === 'companyOfficers'? 'col-sm-6' : 'col-sm-4'" class="form-group">
      <label for="{{selectedAccountType}}_lastName_{{index}}">Last Name</label>
      <div>
        <input name="{{selectedAccountType}}_lastName_{{index}}" id="{{selectedAccountType}}_lastName_{{index}}" type="text" class="form-control" placeholder="Last Name" required ngModel>
      </div>
    </div>
    <div *ngIf="selectedAccountType !== 'companyOfficers'" class="col-sm-4 form-group">
      <label for="{{selectedAccountType}}_dob_{{index}}">Date Of Birth</label>
      <div>
        <input name="{{selectedAccountType}}_dob_{{index}}" id="{{selectedAccountType}}_dob_{{index}}" type="date" class="form-control" placeholder="Date Of Birth" required ngModel></div>
    </div>
  </div>
</div>